
.browsers-logos-sprite-360-browser-lite-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -5px;
}

.browsers-logos-sprite-360-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -5px;
}

.browsers-logos-sprite-allinonebrowser-logo {
    width: 200px;
    height: 200px;
    background-position: -425px -5px;
}

.browsers-logos-sprite-amaya-logo {
    width: 200px;
    height: 200px;
    background-position: -635px -5px;
}

.browsers-logos-sprite-amigo-logo {
    width: 200px;
    height: 200px;
    background-position: -845px -5px;
}

.browsers-logos-sprite-aol-explorer-logo {
    width: 200px;
    height: 200px;
    background-position: -1055px -5px;
}

.browsers-logos-sprite-apollo-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1265px -5px;
}

.browsers-logos-sprite-apple-safari-logo {
    width: 200px;
    height: 200px;
    background-position: -1475px -5px;
}

.browsers-logos-sprite-arora-logo {
    width: 200px;
    height: 200px;
    background-position: -1685px -5px;
}

.browsers-logos-sprite-atomic-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -215px;
}

.browsers-logos-sprite-avant-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -215px;
}

.browsers-logos-sprite-baidu-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -425px -215px;
}

.browsers-logos-sprite-blackhawk-logo {
    width: 200px;
    height: 200px;
    background-position: -635px -215px;
}

.browsers-logos-sprite-camino-logo {
    width: 200px;
    height: 200px;
    background-position: -845px -215px;
}

.browsers-logos-sprite-cocktail-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1055px -215px;
}

.browsers-logos-sprite-cometbird-logo {
    width: 200px;
    height: 200px;
    background-position: -1265px -215px;
}

.browsers-logos-sprite-comodo-dragon-logo {
    width: 200px;
    height: 200px;
    background-position: -1475px -215px;
}

.browsers-logos-sprite-comodo-icedragon-logo {
    width: 200px;
    height: 200px;
    background-position: -1685px -215px;
}

.browsers-logos-sprite-coolnovo-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -425px;
}

.browsers-logos-sprite-deskbrowse-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -425px;
}

.browsers-logos-sprite-diigo-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -425px -425px;
}

.browsers-logos-sprite-dolphin-logo {
    width: 200px;
    height: 200px;
    background-position: -635px -425px;
}

.browsers-logos-sprite-dooble-logo {
    width: 200px;
    height: 200px;
    background-position: -845px -425px;
}

.browsers-logos-sprite-easyweb-logo {
    width: 200px;
    height: 200px;
    background-position: -1055px -425px;
}

.browsers-logos-sprite-fast-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1265px -425px;
}

.browsers-logos-sprite-flock-logo {
    width: 200px;
    height: 200px;
    background-position: -1475px -425px;
}

.browsers-logos-sprite-gnome-web-logo {
    width: 200px;
    height: 200px;
    background-position: -1685px -425px;
}

.browsers-logos-sprite-google-chrome-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -635px;
}

.browsers-logos-sprite-grazing-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -635px;
}

.browsers-logos-sprite-greenbrowser-logo {
    width: 200px;
    height: 200px;
    background-position: -425px -635px;
}

.browsers-logos-sprite-ibrowser-free-logo {
    width: 200px;
    height: 200px;
    background-position: -635px -635px;
}

.browsers-logos-sprite-ibrowser-logo {
    width: 200px;
    height: 200px;
    background-position: -845px -635px;
}

.browsers-logos-sprite-icab-logo {
    width: 200px;
    height: 200px;
    background-position: -1055px -635px;
}

.browsers-logos-sprite-ifox-logo {
    width: 200px;
    height: 200px;
    background-position: -1265px -635px;
}

.browsers-logos-sprite-internet-explorer-logo {
    width: 200px;
    height: 200px;
    background-position: -1475px -635px;
}

.browsers-logos-sprite-k-meleon-logo {
    width: 199px;
    height: 200px;
    background-position: -1685px -635px;
}

.browsers-logos-sprite-knowtilus-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -845px;
}

.browsers-logos-sprite-konqueror-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -845px;
}

.browsers-logos-sprite-lunascape-logo {
    width: 199px;
    height: 200px;
    background-position: -425px -845px;
}

.browsers-logos-sprite-mailru-internet-logo {
    width: 200px;
    height: 200px;
    background-position: -634px -845px;
}

.browsers-logos-sprite-mango-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -844px -845px;
}

.browsers-logos-sprite-mango-browser-x-logo {
    width: 200px;
    height: 200px;
    background-position: -1054px -845px;
}

.browsers-logos-sprite-maven-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1264px -845px;
}

.browsers-logos-sprite-maxthon-logo {
    width: 200px;
    height: 200px;
    background-position: -1474px -845px;
}

.browsers-logos-sprite-mercury-pro-logo {
    width: 200px;
    height: 200px;
    background-position: -1684px -845px;
}

.browsers-logos-sprite-microsoft-edge-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -1055px;
}

.browsers-logos-sprite-midori-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -1055px;
}

.browsers-logos-sprite-mozilla-firefox-logo {
    width: 200px;
    height: 200px;
    background-position: -425px -1055px;
}

.browsers-logos-sprite-netscape-navigator-logo {
    width: 200px;
    height: 200px;
    background-position: -635px -1055px;
}

.browsers-logos-sprite-netsurf-logo {
    width: 200px;
    height: 200px;
    background-position: -845px -1055px;
}

.browsers-logos-sprite-omniweb-logo {
    width: 200px;
    height: 200px;
    background-position: -1055px -1055px;
}

.browsers-logos-sprite-opera-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1265px -1055px;
}

.browsers-logos-sprite-opera-classic-logo {
    width: 200px;
    height: 200px;
    background-position: -1475px -1055px;
}

.browsers-logos-sprite-opera-mini-logo {
    width: 200px;
    height: 200px;
    background-position: -1685px -1055px;
}

.browsers-logos-sprite-orbitum-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -1265px;
}

.browsers-logos-sprite-owasp-mantra-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -1265px;
}

.browsers-logos-sprite-pale-moon-logo {
    width: 200px;
    height: 200px;
    background-position: -425px -1265px;
}

.browsers-logos-sprite-perfect-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -635px -1265px;
}

.browsers-logos-sprite-photon-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -845px -1265px;
}

.browsers-logos-sprite-pointcloud-logo {
    width: 200px;
    height: 200px;
    background-position: -1055px -1265px;
}

.browsers-logos-sprite-portal-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1265px -1265px;
}

.browsers-logos-sprite-puffin-browser-free-logo {
    width: 200px;
    height: 200px;
    background-position: -1475px -1265px;
}

.browsers-logos-sprite-puffin-browser-pro-logo {
    width: 200px;
    height: 200px;
    background-position: -1685px -1265px;
}

.browsers-logos-sprite-qip-surf-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -1475px;
}

.browsers-logos-sprite-qupzilla-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -1475px;
}

.browsers-logos-sprite-rambler-browser-logo {
    width: 201px;
    height: 200px;
    background-position: -425px -1475px;
}

.browsers-logos-sprite-read-the-world-logo {
    width: 200px;
    height: 200px;
    background-position: -636px -1475px;
}

.browsers-logos-sprite-rekonq-logo {
    width: 200px;
    height: 200px;
    background-position: -846px -1475px;
}

.browsers-logos-sprite-rockmelt-logo {
    width: 200px;
    height: 200px;
    background-position: -1056px -1475px;
}

.browsers-logos-sprite-safesurfing-logo {
    width: 200px;
    height: 200px;
    background-position: -1266px -1475px;
}

.browsers-logos-sprite-seamonkey-logo {
    width: 200px;
    height: 200px;
    background-position: -1476px -1475px;
}

.browsers-logos-sprite-secure-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1686px -1475px;
}

.browsers-logos-sprite-skyfire-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -1685px;
}

.browsers-logos-sprite-sleipnir-black-edition-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -1685px;
}

.browsers-logos-sprite-sleipnir-logo {
    width: 200px;
    height: 200px;
    background-position: -425px -1685px;
}

.browsers-logos-sprite-slimboat-logo {
    width: 200px;
    height: 200px;
    background-position: -635px -1685px;
}

.browsers-logos-sprite-snowbunny-logo {
    width: 200px;
    height: 200px;
    background-position: -845px -1685px;
}

.browsers-logos-sprite-sphere-browser-lite-logo {
    width: 200px;
    height: 200px;
    background-position: -1055px -1685px;
}

.browsers-logos-sprite-sphere-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1265px -1685px;
}

.browsers-logos-sprite-srware-iron-logo {
    width: 200px;
    height: 200px;
    background-position: -1475px -1685px;
}

.browsers-logos-sprite-stainless-logo {
    width: 200px;
    height: 200px;
    background-position: -1685px -1685px;
}

.browsers-logos-sprite-sunrise-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1895px -5px;
}

.browsers-logos-sprite-superbird-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1895px -215px;
}

.browsers-logos-sprite-torch-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1895px -425px;
}

.browsers-logos-sprite-uc-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1894px -635px;
}

.browsers-logos-sprite-umbrella-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -1894px -845px;
}

.browsers-logos-sprite-uran-logo {
    width: 200px;
    height: 200px;
    background-position: -1895px -1055px;
}

.browsers-logos-sprite-waterfox-logo {
    width: 200px;
    height: 200px;
    background-position: -1895px -1265px;
}

.browsers-logos-sprite-wyzo-logo {
    width: 200px;
    height: 200px;
    background-position: -1896px -1475px;
}

.browsers-logos-sprite-yahoo-axis-logo {
    width: 200px;
    height: 200px;
    background-position: -1895px -1685px;
}

.browsers-logos-sprite-yandex-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -5px -1895px;
}

.browsers-logos-sprite-yandex-opera-mini-logo {
    width: 200px;
    height: 200px;
    background-position: -215px -1895px;
}

.browsers-logos-sprite-zequr-browser-logo {
    width: 200px;
    height: 200px;
    background-position: -425px -1895px;
}
